<!-- sidebar.component.html -->
<div class="sidebar-section">
  <div class="account-section">
    <mat-icon class="icon-size account-icon">account_circle</mat-icon>
    <h2 class="label" [class.hide]="collapsed">
      Welcome
      @if(user()) {
        <span class="account-name"
        [matTooltip]="user()?.fullName || 'User'"
        matTooltipPosition="above"
        >{{user()?.fullName}}</span>
      }
    </h2>
  </div>
  <ul class="ls-links">
    @for(item of filteredNavItems(); track item.key) {
    <li (click)="setActive(item.key)">
      <div class="ls-nav" [class.active]="item.key === activeItem()">
        <mat-icon>{{ item.icon }}</mat-icon>
        <a class="label" [class.hide]="collapsed">{{ item.label }}</a>
      </div>
    </li>
    }
  </ul>
  <div class="logout-section">
    <lib-react-wrapper></lib-react-wrapper>
    <button (click)="logout.emit()" class="logout-btn">
      <fa-icon class="fa-solid icon-style" [icon]="faArrowRightFromBracket"></fa-icon>
      <label class="label" [class.hide]="collapsed">Log Out</label>
    </button>
  </div>
</div>