@use 'libs/shared/ui/src/lib/ui/styles/_variables' as *;

.sidebar-section {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: clip;
  padding-top: 25px;
  transition: background-color 0.3s ease;
  background-color: var(--bg-secondary);

  .label {
    display: inline-block;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    opacity: 1;
    transform: translateX(0);
    white-space: nowrap;
    color: var(--text-primary);

    &.hide {
      opacity: 0;
      transform: translateX(-10px);
      pointer-events: none;
    }
  }

  .logout {
    &-section {
      margin-top: auto;
      text-align: left;
    }

    &-btn {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 10px;
      border: none;
      background: none;
      color: var(--text-color-inactive);
      font-weight: 500;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      z-index: 0;
      width: 100%;
      transition: color 0.3s ease;

      label {
        cursor: pointer;
      }

      fa-icon {
        color: var(--icon-color-inactive);
        z-index: 1;
        transition: color 0.3s ease;
      }

      &:hover {
        color: var(--color-danger);
        background-color: var(--bg-secondary);

        fa-icon {
          color: var(--color-danger);
        }

        animation: shake 0.3s ease-in-out;
      }
    }
  }
}

.account {
  &-section {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px;
    border-bottom: 1px solid #e9ecef;

    h2 {
      margin: 0;
    }
 
    .label {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
      color: #495057;
      line-height: 1.4;
      display: flex;
      flex-direction: column;

      span {
        font-weight: 700;
        color: #673ab7;
      }
    }
  }

  &-name {
    display: block;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  &-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
    color: var(--text-primary);
  }
}

.ls-links {
  margin-top: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;

  li {
    display: flex;
    position: relative;

    .ls-nav {
      display: flex;
      align-items: center;
      padding: 10px;
      gap: 25px;
      cursor: pointer;
      width: 100%;

      mat-icon {
        color: var(--icon-color-inactive);
      }

      a {
        text-decoration: none;
        color: var(--text-color-inactive);
      }

      &:hover {
        background-color: var(--purple-bland-8);
      }

      &.active {

        mat-icon,
        a {
          color: var(--text-primary);
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 5px;
          background-color: var(--text-primary);
          transform: translateX(-1rem);
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(0);
  }
}